<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.css">
</head>
<body class="hold-transition">
<div class="error-page">
    <h2 class="headline text-yellow"> 403</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Access Denied!</h3>
        <p>
            You don't have permission to access this page.
            You can <a th:href="@{/dashboard}">return to dashboard</a>.
        </p>
    </div>
</div>
</body>
</html>