<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/AdminLTE.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <b>OTP</b> Verification
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Enter the OTP sent to your email</p>

        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <form th:action="@{/otp/verify}" method="post">
            <div class="form-group has-feedback">
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Verify</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>